
/**
 * mixins
 */

@mixin flexbox($direction, $x, $y, $wrap) {
  display: flex;

  @if $direction == row {
    flex-direction: $direction;
  } @else if $direction == row-reverse {
    flex-direction: $direction;
  } @else if $direction == column {
    flex-direction: $direction;
  } @else if $direction == column-reverse {
    flex-direction: $direction;
  }

  @if $x == flex-start {
    justify-content: $x;
  } @else if $x == flex-end {
    justify-content: $x;
  } @else if $x == center {
    justify-content: $x;
  } @else if $x == space-between {
    justify-content: $x;
  } @else if $x == space-around {
    justify-content: $x;
  }

  @if $y == flex-start {
    align-items: $y;
  } @else if $y == flex-end {
    align-items: $y;
  } @else if $y == center {
    align-items: $y;
  } @else if $y == baseline {
    align-items: $y;
  } @else if $y == stretch {
    align-items: $y;
  }

  @if $wrap == wrap {
    flex-wrap: $wrap;
  } @else if $wrap == nowrap {
    flex-wrap: $wrap;
  }
}

@mixin flexitem($order, $grow) {
  @if $order {
    order: $order;
  }

  @if $grow {
    flex-grow: $grow;
  }
}

@mixin griditem($row-start, $row-end, $column-start, $column-end) {
  @if $row-start {
    grid-row-start: $row-start;
  }
  @if $row-end {
    grid-row-end: $row-end;
  }
  @if $column-start {
    grid-column-start: $column-start;
  }
  @if $column-end {
    grid-column-end: $column-end;
  }
}

/**
 * utils
 */

$base-font-size: 16px;

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@function rem($px) {
  @if parseInt($px) == 0 {
    @return 0;
  }

  @return (parseInt($px) / parseInt($base-font-size)) * 1rem;
}
