
* {
  font-family: Helvetica,Arial,'Hiragino Sans GB','WenQuanYi Micro Hei',SimSun,sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
